services:
  mosaic:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8084:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    container_name: mosaic
